* {
    box-sizing: border-box;
}


body {
    background: #F2ECD6;
    margin: 0;
    padding: 5vh 5vw 0; 
    text-align: center;
}

.hero {
    max-width: 100%;
}

.temp-heading {
    color: #dd726a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    letter-spacing: 15px;
    margin-bottom: 30px;
}
